<div class="text-xs border-t-2 border-gray-300 mt-6 pt-6 text-gray-500 text-center">
    <p>By placing a bid on this page, you are entering into a legally binding contract and agree to follow through with the purchase of the item should you win the item.</p>
    <a href="./terms" class="text-blue-500 font-semibold">Read the full terms & conditions</a>
</div>
</div>
</body>
</html>
