<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ken Bromley Art Supplies Auction</title>
    <link rel="stylesheet" href="./styles.css"></link>
    <link rel="icon" href="./favicon.png" type="image/png">
    <script src="./scripts.js"></script>
</head>
<body>
<div class="max-w-lg mx-auto">
