<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ken Bromley Art Supplies Inktober Auction</title>
    <link rel="stylesheet" href="./styles.css"></link>
    <link rel="icon" href="./favicon.png" type="image/png">
    <script src="./scripts.js"></script>
</head>
<body>
<div class="max-w-xl mx-auto">
    <h2 class="text-3xl font-light">Inktober Auction</h2>
    {{#if authorized}}
        <h1 class="text-3xl font-semibold">Bids</h1>
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" id="toggle" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">Display unverified bids</span>
        </label>
        <table class="table-auto">
            <thead>
            <tr>
                <th class="px-4 py-2">Info</th>
                <th class="px-4 py-2">Bidder</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Bid</th>
                <th class="px-4 py-2"></th>
            </tr>
            </thead>
            <tbody>
            {{#each bids}}
                <tr class="{{#if verified}}verified{{/if}}">
                    <td class="border px-4 py-2">
                        <div class="date text-sm" title="{{ time }}">{{ time }}</div>
                        <time datetime="{{time}}"
                              class="text-xs text-gray-700">{{ time }}</time>
                        <div class="text-xs text-gray-500">IP: {{ ip }}</div>
                    </td>
                    <td class="border px-4 py-2">
                        <div>{{ name }}</div>
                        <div class="text-xs">{{ town }}, {{ postcode }}</div>
                    </td>
                    <td class="border px-4 py-2">
                        <div class="text-sm">{{ emailAddress }}</div>
                        {{#if verified}}
                            <span class="text-xs rounded text-gray-700 bg-green-100 border border-green-400 px-2">verified</span>
                        {{/if}}
                    </td>
                    <td class="border px-4 py-2">
                        <div class="font-semibold">£{{ bidValue }}</div>
                    </td>
                    <td class="border px-4 py-2">
                        <form class="delete" action="./delete-bid" method="post">
                            <input type="hidden" name="id" value="{{ id }}">
                            <input type="hidden" name="pw" value="{{ ../pw }}">
                        <button
                                class="bg-transparent hover:bg-red-500 text-red-700 text-xs hover:text-white py-0 px-2 border border-red-500 hover:border-transparent rounded">
                          Delete
                        </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto" action="./view-bids" method="post">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <div class="flex">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           name="password" id="password" type="password" required>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                        Login
                    </button>
                </div>
            </div>
        </form>
    {{/if}}
    <a href="/" class="my-8 block mx-auto bg-transparent text-center hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
      Back to main page
    </a>
</div>
</body>
</html>
