{{> header }}
<div class="w-full">

    <h3 class="text-xl my-2">
        <span class="text-gray-600">Current Bid:</span>
        <span class="font-semibold ml-2">£{{ topBid }}</span>
        <span class="text-sm text-gray-600">({{ totalBids }} total bids)</span>
    </h3>
    <h3 class="text-xl my-2">
        <span class="text-gray-600">Auction Ended</span>
        <span class="date text-sm text-gray-600">{{ endDate }}</span>
    </h3>
    <h3 class="text-xl text-gray-600 ">Top Bids</h3>
    <ul class="mb-12">
        {{#each bids}}
            <li class="mb2 flex">
                <div class="flex-grow flex align-middle">
                    <time datetime="{{time}}"
                          class="justify-center items-center m-0 sm:m-1 font-medium px-0 sm:px-2 bg-white rounded text-gray-700 bg-gray-100 border border-gray-300 text-xs">{{ time }}</time>
                </div>
                <div class="text-xs sm:text-base"><span class="font-semibold text-gray-600">{{ initial }}</span> of
                    <span
                            class="font-semibold text-gray-600">{{ town }}</span> made a bid of <span
                            class="font-semibold">£{{ bidValue }}</span></div>
            </li>
        {{/each}}
    </ul>
</div>
{{> footer }}
