{{> header }}
{{#if success}}
    <h1 class="text-3xl font-semibold">Please verify your bid</h1>
    <p>An email has been sent to {{ emailAddress }}.</p>
    <p class="font-semibold">Please check your inbox to verify your bid.</p>
    <p class="text-blue-700 mt-8"><span class="font-semibold">Note:</span> Check your spam folder if you don't see anything</p>
{{else}}
    <h1 class="text-3xl font-semibold">An error occurred:</h1>
    <p>{{ error }}</p>
{{/if}}
<a href="/" class="my-12 block bg-transparent text-center hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
  Back to main page
</a>
{{> footer }}
