{{> header }}
<h3 class="text-xl text-gray-600 mt-6">Terms & Conditions</h3>
<p>
    READ THESE TERMS AND CONDITIONS CAREFULLY. BY PARTICIPATING IN THIS ONLINE AUCTION, YOU AGREE TO THESE TERMS AND
    CONDITIONS. THESE TERMS AND CONDITIONS ARE LEGALLY BINDING AND IF YOU VIOLATE ANY OF THEM, Ken Bromley Art Supplies,
    AND ITS EMPLOYEES, AGENTS AND REPRESENTATIVES MAY SEEK LEGAL RELIEF, INCLUDING BUT NOT LIMITED TO, REPORTING YOUR
    CONDUCT TO APPROPRIATE LEGAL ENTITIES. PLEASE NOTE THAT THESE TERMS INCLUDE AN AGREEMENT BY WHICH YOU INDEMNIFY
    OWNER/SELLER AND AUCTIONEER.
</p>
<h4 class="text-gray-600 uppercase my-6">Important</h4>
<p>By placing a bid on this page, you are entering into a legally binding contract and agree to follow through with the
    purchase of the item should you win the item. Once a bid has been submitted, it cannot be retracted or changed. All
    bids are shown in GBP and include delivery of the piece. A bid by any person shall be conclusive proof that the
    person has read these conditions of sale and has agreed to be bound by them.
    Ken Bromley Art Supplies reserve the right to remove the item from a sale at any time.
</p>
<h4 class="text-gray-600 uppercase my-6">User Information</h4>

<p class="mb-2">The auction is open to UK residents only.</p>
<p class="mb-2">The item being bid on is the original artwork, plus a £50 voucher for framing.</p>
<p class="mb-2">All Bidders are required to fill out the details requested, Full Name, City and Valid UK post code and confirm their
    email address.</p>
<p class="mb-2">This is an online only auction. Posted closing times and displays of auction current time are approximate, Ken Bromey
    Art Supplies reserves the right to close early or extend the auction at any time at its discretion.</p>
<p class="mb-2">You must be at least 18 years old or older to bid in the auction. There are no exceptions to this.</p>
<p class="mb-2">Once the auction has ended the winner will be notified and has 72 hours to make payment. If payment is not made in
    this time, the artwork will go to the next highest bidder and they will be contacted. Payment can be made by Paypal,
    Credit/Debit card or BACS transfer.</p>

<a href="/" class="mb-12 block bg-transparent text-center hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
  Back to main page
</a>
</div>
</body>
</html>
