{{> header }}
{{#if success}}
    <h1 class="text-3xl font-semibold">Thank you for your bid!</h1>
    <p class="mb-8">Your bid of £{{bidValue}} has been accepted!</p>
    <a href="/"
       class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Back to bid list
    </a>
{{else}}
    <h1 class="text-3xl font-semibold">Unable to verify your bid!</h1>
    <p>Something went wrong when attempting to verify your bid. Please try again or <a
            href="https://www.artsupplies.co.uk/info-contact-us.htm" class="text-blue-500">contact us</a> for further assistance.</p>
{{/if}}
{{> footer }}
